flake8
interrogate
isort==4.3.21
lxml
matplotlib
mmcv-full==1.3.13
numba
numpy==1.20.0
prettytable
pycocotools
rich
scikit-image==0.18.3
scipy
yapf==0.30.0
tensorboard
future
opencv-python
albumentations

